.gridMember {
    border: solid 1px #ff0000;
    flex-grow: 1

}
.superContainer {
    width: 500px;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    border: solid 1px red;
    justify-content: space-between;


}


.container{
    width: 500px;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    border: solid 1px red;
    justify-content: space-between;

}

.rowContainer {
    display: flex;
    border: solid 1px red;
    justify-content: space-between;
    flex-grow: 1

}